<section class="hero is-fullheight is-light">
    <div class="hero-body has-text-centered">
        <div class="container">
            <div class="box">
                <label>Username:</label>
                <p>{{user.username}}</p>
                <label>First Name:</label>
                <p>{{user.firstName}}</p>
                <label>Last Name:</label>
                <p>{{user.lastName}}</p>
                <button class="button is-dark mt-5" (click)="changePasswordRedirect()">Change Password</button>
            </div>
        </div>
    </div>
</section>