<div class="tile is-ancestor m-5">
  <div class="tile is-4 is-vertical is-parent sticky-profile" style="max-height: 15rem;">
    <div class="tile is-child box">
      <div class="container">

        <div class="field has-addons">
          <div class="control">
            <input name='searchBar' [(ngModel)]='searchValue' class="input" type="text" placeholder="Search users"
              (keyup)="searchUsers(searchValue)">
          </div>
          <div class="control">
            <button class="button is-info" (click)="searchUsers(searchValue)">Search</button>
          </div>
        </div>
      
      
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Last name</th>
            <th>Username</th>
            <th>Status</th>
          </thead>
          <tr *ngFor="let u of filteredUsers" (click)="redirectToUserProfile(u)">
            <td>{{u.firstName}}</td>
            <td>{{u.lastName}}</td>
            <td>{{u.username}}</td>
            <td><i>{{privateOrPublic(u)}}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <h1 *ngIf="loggedUser.username ==  ''">Login to see for you page!</h1>
        <div class="card mt-5" *ngFor="let p of homePagePosts; let i = index">
            <div class="card-content">
                <div class="content">
                    <div class="mb-3" style="text-align: center; background-color: rgb(244, 244, 244);">
                        <img *ngIf="p.content.image !== ''" src="{{p.content.image}}" style="border-radius: 0px;">
                    </div>
                    {{p.content.text}}
                    <a href="#" *ngFor="let link of p.content.links "> #{{link}}</a>
                    <br>
                    <time><i>{{formatDates(p.createdAt)}}</i></time>
                    <label class="ml-3"><i>{{p.user.firstName}} {{p.user.lastName}}</i></label>
                </div>
                <footer class="card-footer">
                    <button [disabled]="loggedUser.role !== 'user' || alreadyReacted(p)" (click)="reactOnPost(p, 0)" href="#" class="card-footer-item button is-info">Like
                        👍 {{getNumLikes(p, 0)}}</button>
                    <button [disabled]="loggedUser.role !== 'user' || alreadyReacted(p)" (click)="reactOnPost(p, 1)" href="#"
                        class="card-footer-item button is-light ml-5">Dislike 👎 {{getNumLikes(p, 1)}}</button>
                    <button [disabled]="loggedUser.role !== 'user'" (click)="openCommentDiv(i)" class="card-footer-item button is-light ml-5">Comment
                        💬</button>
                </footer>

                <div *ngIf="isClickedOnCommentButton[i]">
                    <div class="content mt-3 box" *ngFor="let c of p.comments">
                        <div class="mb-3">
                        {{c.content}}
                        <hr>
                        <label>{{c.username}} </label> <br>
                        <label><i>{{formatDates(c.dateCreated)}}</i></label>
                        </div>
                    </div>
                    <textarea class="textarea" placeholder="Write a comment" [(ngModel)]="commentContent"></textarea><br>
                    <button (click)="sendComment(p, i)" class="button is-light mt-3">Send comment</button>
                </div>
            </div>
          </div>
    </div>
  </div>
</div>