<nav class="navbar sticky" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="../../assets/dislinkt_logo.png" class="format-logo" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" *ngIf="loggedUser.role === 'user' && !isExpired()" (click)="profileRedirect()">
          Profile
        </a>

        <a class="navbar-item" *ngIf="loggedUser.role === 'user' && !isExpired()" (click)="editProfileRedirect()">
          Edit Profile
        </a>

        <a class="navbar-item" *ngIf="loggedUser.role === 'user'  && !isExpired()" (click)="changePasswordRedirect()">
          Change Password
        </a>

        <a class="navbar-item" *ngIf="loggedUser.role === 'user'  && !isExpired()" (click)="jobOffersRedirect()">
          Job offers
        </a>
  
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" *ngIf="loggedUser.username === ''">
              <strong (click)="register()">Sign up</strong>
            </a>
            <a class="button is-light" *ngIf="loggedUser.username === ''" (click)="login()">Log in</a>
            <a class="button is-light" *ngIf="loggedUser.username !== ''" (click)="notification(notify)">Notifications 🔔</a>
            <a class="button is-light" *ngIf="loggedUser.username !== ''" (click)="friendRequests(content)">Friend Requests 🤵</a>
            <a class="button is-light" *ngIf="loggedUser.username !== ''" (click)="logout()">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>





  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Follow requests</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"> X </button>
    </div>
    <div class="modal-body">
      <label *ngIf="connections.length == 0"><i>You don't have any requests.</i></label>
      <div class="card mt-5" *ngFor="let c of connections; let i = index">
        <div class="card-content">
            <div class="content">
                <label *ngIf="connections.length!=0">{{c.issuerUsername}} wants to be follow you.</label>
                <button *ngIf="connections.length!=0" style="float: right;" type="button" class="button is-danger ml-3" (click)="declineRequest(c)">Decline</button>
                <button *ngIf="connections.length!=0" style="float: right;" type="button" class="button is-info" (click)="acceptRequest(c)">Accept</button>          
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>

  <ng-template #notify let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Notifications</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"> X </button>
    </div>
    <div class="modal-body">
      <label *ngIf="notifications.length == 0"><i>You don't have any notifications.</i></label>
      <div class="card mt-5" *ngFor="let c of notifications; let i = index">
        <div class="card-content">
            <div class="content">
                <label *ngIf="notifications.length!=0">{{c.message}}</label>
                <button *ngIf="notifications.length!=0" style="float: right;" type="button" class="button is-info ml-3" (click)="dismissNotification(c)">Dismiss</button>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>