<section class="hero is-fullheight is-light">
    <div class="hero-body has-text-centered">
        <div class="container">
            <div class="box">
                <label>New password:</label>
                <input id="oldPassword" class="input" type="password" [(ngModel)]="newPassword"> <br>

                <label>Confirm password:</label>
                <input id="newPassword" class="input" type="password" [(ngModel)]="confirmedPassword"> <br>

                <button class="button is-dark mt-5" (click)="recoveryPassword()">Change</button>
            </div>
        </div>
    </div>
</section>