<div class="container" *ngIf="!userIsAdmin()">

    <table class="table mt-5 cenetr" style="justify-content: center;">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th>
          <th>
        </thead>
        <tr *ngFor="let c of companies" (click)="this.router.navigate(['/company', c.id])">
          <td>{{c.name}}</td>
          <td>{{c.description}}</td>
        </tr>
      </table>
</div><br><br><br>



<div *ngIf="userIsCommon()" class="box">
    <button class="button is-primary" (click)="this.router.navigate(['/companyRegistration'])">Register company</button>
</div>

<div *ngIf="userIsCompanyOwner()" class="box">
    <button class="button is-info" (click)="navigateToUserCompany()">My company</button>
</div>


<div *ngIf="userIsAdmin()" class="box">
    <table class="table">
        <thead>
            <tr>
                <th>Username of potential owner</th>
                <th>Name of potential owner</th>
                <th>Company name</th>
                <th>Company informations</th>
                <th>Company description</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let request of companyRegistrationRequests">
            <tr>
                <td>{{request.companyOwnerUsername}}</td>
                <td>{{request.companyOwnerName}}</td>
                <td>{{request.companyName}}</td>
                <td>{{request.companyContactInfo}}</td>
                <td>{{request.companyDescription}}</td>
                <td>
                    <button class="button is-primary is-small" (click)="registerCompany(request)">Accept</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>