<section class="hero is-fullheight is-light">
    <div class="hero-body has-text-centered">
        <div class="container">
            <div class="box">
                <label>Old password:</label>
                <input id="oldPassword" class="input" type="password" [(ngModel)]="oldPassword"> <br>

                <label>New password:</label>
                <input id="newPassword" class="input" type="password" [(ngModel)]="newPassword"> <br>

                <button class="button is-dark mt-5" (click)="changePassword()">Change</button>
            </div>
        </div>
    </div>
</section>