
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <img src="https://cdn-icons-png.flaticon.com/512/2083/2083417.png" style="width: 300px; height:300px" alt="">
        <p class="sub-title mt-5 ml-3">Average mark: {{averageMark}}</p>
      </div>
      <div *ngIf="checkOwnership()" class="tile is-child box">
        <p class="sub-title mb-2 ml-3">Info:</p>
        <input class="input mb-5 ml-3" [(ngModel)]="company.contactInfo">
        <p class="sub-title mb-2 ml-3">Description:</p>
        <input class="input mb-5 ml-3" [(ngModel)]="company.description">
        <button class="button is-link mb-5 ml-3" (click)="editCompanyInfo()">Edit</button>
      </div>

      <div *ngIf="!checkOwnership()" class="tile is-child box">
        <p class="sub-title mb-2 ml-3">Info:</p>
        <label class="label mb-5 ml-3">{{company.contactInfo}}</label>
        <p class="sub-title mb-2 ml-3">Description:</p>
        <label class="label mb-5 ml-3">{{company.description}}</label>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" (click) = "openCommentsDiv()">
                    Comments
                </a>
        
                <a class="navbar-item" (click) = "openInterviewsDiv()">
                    Interview processes
                </a>
        
                <a class="navbar-item" (click) = "openOpenPositonsDiv()">
                    Open positions
                </a>
            </div>
        </div>
        
        <div *ngIf="commentsChecked" class="box mt-10">

          <div class="card mb-5">
              <div class="card-content" *ngIf="!checkOwnership()">
                  <div class="content">
                      <div style="text-align: center;">
                          <textarea [(ngModel)]="content" class="mb-3 textarea" style="border-radius: 0px; object-fit: contain;"></textarea>
                      </div>
                  </div>
                  <footer class="card-footer">
                      <button href="#" class="card-footer-item button is-info" (click)="createComment()">Comment</button>
                  </footer>
              </div>
          </div>

          
          <div class="card mt-5" *ngFor="let c of comments; let i = index">
            <div class="card-content">
              <div class="content">
                {{c.comment}}
                <footer class="card-footer mt-5">
                  <label><i>{{c.userSignature}} {{c.username}}</i></label>
              </footer>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="interviewsChecked" class="box">
          <div class="card mb-5">
              <div class="card-content" *ngIf="!checkOwnership()">
                  <div class="content">
                      <div style="text-align: center;">
                          <textarea [(ngModel)]="contentInterview" class="mb-3 textarea" style="border-radius: 0px; object-fit: contain;"></textarea>
                      </div>
                  </div>
                  <footer class="card-footer">
                      <button href="#" class="card-footer-item button is-info" (click)="createInterview()">Create interview proccess</button>
                  </footer>
              </div>
          </div>

          
          <div class="card mt-5" *ngFor="let c of interviews; let i = index">
            <div class="card-content">
              <div class="content">
                {{c.description}}
                <footer class="card-footer mt-5">
                  <label><i>{{c.userSignature}} {{c.username}}</i></label>
              </footer>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="openPositionsChecked" class="box">
          <div class="card mb-5">
              <div class="card-content" *ngIf="checkOwnership()">
                  <div class="content">
                      <div style="text-align: center;">
                          <input [(ngModel)]="contentPosition" class="mb-3 input" placeholder="Name" style="border-radius: 0px; object-fit: contain;"/>
                          <input [(ngModel)]="description" class="mb-3 input" placeholder="Description" style="border-radius: 0px; object-fit: contain;"/>
                          <input [(ngModel)]="criteria" class="mb-3 input" placeholder="Criteria" style="border-radius: 0px; object-fit: contain;"/>
                          <label class="checkbox"><input [(ngModel)]="promoteBool" type="checkbox">Promote job</label>
                      </div>
                  </div>
                  <footer class="card-footer">
                      <button href="#" class="card-footer-item button is-info" (click)="createPosition()">Create open position</button>
                  </footer>
              </div>
          </div>

          
          <div class="card mt-5" *ngFor="let c of positions; let i = index">
            <div class="card-content">
              <div class="content">
                {{c.positionName}} (<i>Avg. salary:</i> {{calculateAverageSalary(c)}}e) ({{calculateMinimumSalary(c)}}e ~ {{calculateMaximumSalary(c)}}e)
                <button *ngIf="!checkOwnership() && !checkIfAlreadySentSalary(c)" class="button is-primary" style="float: right;" (click)="addSalary(c)">Add salary</button>
                <label *ngIf="!checkOwnership() && checkIfAlreadySentSalary(c)" class="label is-primary" style="float: right;">Sent</label>
                <footer class="card-footer mt-5"></footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
