<p class="sub-title mb-2 ml-3">Info:</p>
<input class="input mb-5 ml-3" [(ngModel)]="company.contactInfo">

<p class="sub-title mb-2 ml-3">Description:</p>
<input class="input mb-5 ml-3" [(ngModel)]="company.description">

<button class="button is-link mb-5 ml-3" (click)="editCompanyInfo()">Edit</button>

<p class="sub-title mb-5 ml-3">Average mark:</p>

<div class="box">
    Their will be comments.
</div>

<div class="box">
    Their will be interview processes.
</div>

<div class="box">
    Their will be open positions.
</div>