<div class="tile is-ancestor m-5">
    <div class="tile is-4 is-vertical is-parent sticky-profile" style="max-height: 15rem;">
        <div class="tile is-child box">
            <img src="assets/maki.jpg">
            <p class="title mt-5" style="margin-bottom: 0px;">{{user.firstName}} {{user.lastName}}</p>
            <p class="subTitle"><i>{{user.username}}</i></p>
            <p class="subTitle mt-5">Born: <i>{{user.dateOfBirth.substring(0,10)}}</i></p>
            <p>
                Interests:
                <label *ngFor="let i of user.interests" class="mr-1"><i>{{i}}</i></label>
            </p>
            <button [disabled]="this.loggedUser.role !== 'user'" *ngIf="loggedUser.username !== user.username && !isConnected" class="button is-info is-outlined is-fullwidth mt-5" (click)="requestConnect()">Follow</button>
            <h2 style="color:cornflowerblue; text-align: center;" *ngIf="isConnected && isApproved">FOLLOWING</h2>
            <h2 style="color:cornflowerblue; text-align: center;" *ngIf="isConnected && !isApproved">FOLLOW REQUEST IS SENT</h2>
            <button *ngIf="loggedUser.username !== user.username && isApproved" class="button is-danger is-outlined is-fullwidth mt-5" (click)="unFollow()">Unfollow</button>
        </div>
        <div class="tile is-child box">
            <p class="title">Work experience</p>
            <label *ngIf="user.workExperience.length == 0"><i>No work experience</i></label>
            <label *ngFor="let w of user.workExperience">
                In "<b>{{w.company}}</b>" as <b>{{w.title}}</b>. <br>
            </label>

            <p class="title mt-5">Education</p>
            <label *ngIf="user.education.length == 0"><i>No education</i></label>
            <label *ngFor="let w of user.education">
                <b>{{w.school}}</b> (degree {{w.degree}}), major <b>{{w.fieldOfStudy}}</b>. <br>
            </label>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box">

            <div class="card mb-5">
                <div class="card-content" *ngIf="checkOwnership()">
                    <div class="content">
                        <div style="text-align: center;">
                            <img class="mb-3" [src]="url" style="border-radius: 0px; object-fit: contain;" *ngIf="url">
                            <textarea placeholder="What's on your mind?" maxlength="256" class="textarea"
                                [(ngModel)]="newPost.content.text"></textarea>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <button href="#" class="card-footer-item button is-info" (click)="createPost()">Post 📩</button>
                        <label class="custom-file-upload card-footer-item button is-light ml-5">
                            <input type="file" (change)="selectFile($event)" [(ngModel)]="postImage" />
                            Input image 📎
                        </label>
                    </footer>
                </div>
            </div>
            <h2 *ngIf="posts.length == 0 && loggedUser.username !== user.username && !user.private" class="title" style="text-align: center;"><i>No posts yet</i></h2>
            <h2 *ngIf="loggedUser.username !== user.username && user.private && !requestIsAccepted()" class="title" style="text-align: center;"><i>Profile is private</i></h2>
            <div *ngIf="requestIsAccepted() || !user.private">
                <div class="card mt-5" *ngFor="let p of posts; let i = index">
                    <div class="card-content">
                        <div class="content">
                            <div class="mb-3" style="text-align: center; background-color: rgb(244, 244, 244);">
                                <img *ngIf="p.content.image !== ''" src="{{p.content.image}}" style="border-radius: 0px;">
                            </div>
                            {{p.content.text}}
                            <a href="#" *ngFor="let link of p.content.links "> #{{link}}</a>
                            <br>
                            <time><i>{{formatDates(p.createdAt)}}</i></time>
                        </div>
                        <footer class="card-footer">
                            <button [disabled]="loggedUser.role !== 'user' || alreadyReacted(p)" (click)="reactOnPost(p.id, 0)" href="#" class="card-footer-item button is-info">Like
                                👍 {{getNumLikes(p, 0)}}</button>
                            <button [disabled]="loggedUser.role !== 'user' || alreadyReacted(p)" (click)="reactOnPost(p.id, 1)" href="#"
                                class="card-footer-item button is-light ml-5">Dislike 👎 {{getNumLikes(p, 1)}}</button>
                            <button [disabled]="loggedUser.role !== 'user'" (click)="openCommentDiv(i)" class="card-footer-item button is-light ml-5">Comment
                                💬</button>
                        </footer>

                        <div *ngIf="isClickedOnCommentButton[i]">
                            <div class="content mt-3 box" *ngFor="let c of p.comments">
                                <div class="mb-3">
                                {{c.content}}
                                <hr>
                                <label>{{c.username}} </label> <br>
                                <label><i>{{formatDates(c.dateCreated)}}</i></label>
                                </div>
                            </div>
                            <textarea class="textarea" placeholder="Write a comment" [(ngModel)]="commentContent"></textarea><br>
                            <button (click)="sendComment(p.id, i)" class="button is-light mt-3">Send comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>