img {
    border-radius: 50%;
    width: 15rem;
}

.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.sticky-profile{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5rem;
}

input[type="file"] {
    display: none;
}
