<div class="tile is-ancestor m-5">
    <div class="tile is-4 is-vertical is-parent sticky-profile" style="max-height: 15rem;">
        <div class="tile is-child box">
            <img src="assets/maki.jpg">
            <p class="title mt-5" style="margin-bottom: 0px;">{{user.firstName}} {{user.lastName}}</p>
            <p class="subTitle">{{user.username}}</p>
            <p class="subTitle mt-5">Born: {{user.dateOfBirth.substring(0,10)}}</p>
            <p>
                Interests:
                <label *ngFor="let i of user.interests" class="mr-1"><i>{{i}}</i></label>
            </p>
        </div>
        <div class="tile is-child box">
            <p class="title">Work experience</p>
            <label *ngFor="let w of user.workExperience">
                In "{{w.company}}" as {{w.title}}.
            </label>

            <p class="title mt-5">Education</p>
            <label *ngFor="let w of user.education">
                {{w.school}} (degree {{w.degree}}), major {{w.fieldOfStudy}}.
            </label>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box">

            <div class="card mb-5">
                <div class="card-content" *ngIf="checkOwnership()">
                    <div class="content">
                        <div style="text-align: center;">
                            <img class="mb-3" [src]="url" style="border-radius: 0px; object-fit: contain;" *ngIf="url">
                            <textarea placeholder="What's on your mind?" maxlength="256" class="textarea"
                                [(ngModel)]="newPost.content.text"></textarea>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <button href="#" class="card-footer-item button is-info" (click)="createPost()">Post 📩</button>
                        <!--<button href="#" class="card-footer-item button is-light ml-5">Input image 📎</button>
                    <input type="file" (change)="selectFile($event)">-->
                        <label class="custom-file-upload card-footer-item button is-light ml-5">
                            <input type="file" (change)="selectFile($event)" [(ngModel)]="postImage" />
                            Input image 📎
                        </label>
                    </footer>
                </div>
            </div>
            <div class="card mt-5" *ngFor="let p of posts">
                <div class="card-content">
                    <div class="content">
                        <div class="mb-3" style="text-align: center; background-color: rgb(244, 244, 244);">
                            <img src="{{p.content.image}}" style="border-radius: 0px;">
                        </div>
                        {{p.content.text}}
                        <a href="#" *ngFor="let link of p.content.links "> #{{link}}</a>
                        <br>
                        <time>{{formatDates(p.createdAt)}}</time>
                    </div>
                    <footer class="card-footer">
                        <button (click)="reactOnPost(p.id, 0)" href="#" class="card-footer-item button is-info">Like
                            👍</button>
                        <button (click)="reactOnPost(p.id, 1)" href="#"
                            class="card-footer-item button is-light ml-5">Dislike 👎 </button>
                        <button (click)="openCommentDiv()" class="card-footer-item button is-light ml-5">Comment
                            💬</button>
                    </footer>

                    <div *ngIf="isClickedOnCommentButton">
                        <textarea class="textarea" [(ngModel)]="commentContent"></textarea><br>
                        <button (click)="sendComment(p.id)" class="button is-light mt-3">Send comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>